.seo-preview-container {
	background-color: #FFF;
	padding: 20px;
	border: 1px solid #D2D5D8;
}

.seo-title {
	color: #1a0dab;
	font-size: 18px;
	font-family: arial, sans-serif;
	font-weight: 400;
	line-height: 21.6px;
}

.seo-link {
	color: #006621;
	font-size: 14px;
	font-family: arial, sans-serif;
	font-weight: normal;
	line-height: 16px;
}

.seo-description {
	color: #545454;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: 400;
	line-height: 18.2px;
	word-wrap: break-word;
}

.seo-tips-list {
	background-color: #FFF;
	padding: 10px;
	border: 1px solid #D2D5D8;
}

.seo-tips-list li {
	padding: 4px 0;
	border-bottom: 1px solid #D2D5D8;
}

.seo-tips-list li:last-child {
	border-bottom: none;
}

.score-excellent {
	color: green;
}

.score-good {
	color: #F46B00;
}

.score-bad {
	color: red;
}

#seo_page_subject li {
	color: red;
}

#seo_page_subject li.checked {
	color: green;
}